<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= title %>
      <small><%= caption %></small>
      <% if !@actions.nil? %>
          <% @actions.each do |action| %>
              <% if action.has_key? :html %>
                  <%= action[:html].to_s.html_safe %>
              <% else %>
                  <a target="<%= action[:target] %>" href="<%= action[:url] %>">
                    <small>
                      <small><%= action[:label].to_s.html_safe %></small>
                    </small>
                  </a>
              <% end %>
          <% end %>
      <% end %>
    </h1>
  </div>
</div>
<!-- /.row -->

<!-- Notice -->
<% if !notice.nil? %>
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-success">
          <p id="notice"><%= notice %></p>
        </div>
      </div>
    </div>
<% end %>
<!-- /.row -->